.border {
    -fx-border-color: black;
    -fx-border-width: 1.7;
    -fx-border-style: solid;
}

.chosen-card-border {
    -fx-border-color: brown;
    -fx-border-width: 1.7;
    -fx-border-style: solid;
}

.bold {
    -fx-font-weight: bold;
}

.size18 {
    -fx-font-size: 18;
}

.red-progress-bar .bar {
    -fx-background-color: red;
}

.field-cell {
    -fx-background-color : 	#f7c297;
    -fx-border-width: 1.7;
    -fx-border-style: solid;
}

.red-field-cell {
    -fx-border-color: red;
}

.blue-field-cell {
    -fx-border-color: blue;
}

.field-cell : hover{
    -fx-background-color: #ffecb8;
}